@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
.footer{
    width: 100%;
    padding: 20px;
    border-top: 1px solid #c5c8cb; 
    background-color: rgba(123, 123, 123, 0.238);
    text-align: center;
}
 